.theme-default-content code
  color: #d63200

.custom-block.details 
  summary
    font-weight: 500
    font-size: 1.1rem
  blockquote
    color: #2c3e50
    margin-bottom: 0.1rem

blockquote > p
.page li
  margin-bottom: .5rem


index-motto-size = 32px
.index-motto
  font-size: index-motto-size
  line-height: index-motto-size
  font-family: cursive
  font-weight: bold
  margin: index-motto-size 0
  width: 100%
  text-align: center
